.figure {
    height: 182px;
    width: 100px;
    .head {
        width: 100px;
        position: relative;
        bottom: 150px;
        
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
    }
    .body {
        position: relative;
        width: 100px;
        bottom: -38px;
        right: 2px;
        
    }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.5px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}